body{
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFFFF;
  color: #333333;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}

header{
  padding-top: 5vh;
  padding-bottom: 10px;
  width: 100%;
  height: auto;
  background-color: rgba(21, 27, 31, .6);
  color: #FFFFFF;
  border-bottom: 2px solid rgba(21, 27, 31, .4);
  text-shadow: 1px 2px black;

}

h2{
  font-size: 2em;
}

p{
  font-size: 1.5em;
}

.tile{
  margin: auto;
  width: 80%;
  height: auto;
  background-color: rgba(255, 255, 255, .5);
  border: 1px solid rgba(21, 27, 31, .6);
  border-radius: 5px;
}

#description-field{
  padding-top: 50%;
  height: 110vh;
  background-color: #22734F;
  color: #36454f
  text-shadow: 1px 2px black;
}
