body{
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFFFF;
  color: #333333;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}

header{
  padding-top: 5vh;
  padding-bottom: 10px;
  width: 100%;
  height: auto;
  background-color: rgba(21, 27, 31, .6);
  color: #FFFFFF;
  border-bottom: 2px solid rgba(21, 27, 31, .4);
  text-shadow: 1px 2px black;

}

h2{
  font-size: 2em;
}

p{
  font-size: 1.5em;
}

.tile{
  margin: auto;
  width: 80%;
  height: auto;
  background-color: rgba(255, 255, 255, .75);
  border: 1px solid rgba(21, 27, 31, .6);
  border-radius: 5px;
  text-shadow: .5px .25px rgba(21, 27, 31, .8);
}

.experience--container{
  background-color: rgba(217, 216, 123, .5);
  text-shadow: .5px .5px rgba(255, 255, 255, .5);
  border: 2px solid rgba(21, 27, 31, .6);
  width: 40%;
  height: 40%;
  margin: auto;
  border-radius: 15px;
}

#description-field{
  padding-top: 50%;
  height: 110vh;
  background-image:  url('../public/images/bark.jpg');
  color: #36454f
  text-shadow: 1px 2px black;
}

#experience-field{
  background-image: url('../public/images/boards.jpg');
  background-repeat: repeat-y;
  margin: 0px;
  padding-top: 15px;
}
